/**
 * Given A4 paper is 21 x 29.7cm and it is important to leave enough
 * margin for binding and hole punching (20cm each side), an optimal size appears to
 * be 5 across (@3.4x3.4 cm each)
 *
 * Splitting: 4 bytes for a protocol identifier + 64bytes for a UID (sha512) + 2 bytes for sequence ID + 2 bytes for total packages
 * 72 bytes total
 */
/*

https://www.smashingmagazine.com/2015/01/designing-for-print-with-css/

*/

@import url(./main.css);


body{
    position:relative;
    margin:0;
}
main{
    margin:1em;
}
header{
	display: flex;
	justify-content: space-between;
}
#codeset img {
    /* border: 10px solid white; */
    padding: 0;
    margin: 0;
    display:none;
    height:80vmin;
    width:80vmin;
}
#codeset img::after{
    content: "[" attr(alt) "]";
}
#codeset img.show{
    display:inline-block;
    cursor:none;
}
article{
    position:relative;
    display:none;
    width:100%;
    padding:0;
    margin:0;
}
article:nth-of-type(1){
    display:inline-block;
}
button {
    min-width: 1cm;
    min-height: 1cm;
}
canvas{
    display:none;
}
header {
    background-color: white;
}
header > nav > ul {
    list-style-type: none;
    padding:0;
}
header > nav > ul > li {
    display:inline-block;
}

video{
    /* z-index: -100; */
    border:0;
    background-color: slategray;
    position: relative;
    top:0;
    left:0;
    width:80vmin;
    height:80vmin;
}

.status{
    /*status as an LED*/
    position: fixed;
    right:0;
    bottom:0;
    display:inline-block;
    border-radius: 0.6cm;
    background-color: white;
    border:0.1cm solid black;
    height:1cm;
    width:1cm;

    /* status as a ghost frame */
    /*
    z-index:-99;
    position:fixed;
    border-radius: 0;
    background-color: rgba(0,0,0,0);
    top:0;
    left:0;
    width:100vw;
    height:100vh;
    border: 0;
    */

    /* status colour changes*/
    --status-color:darkslategrey;
    --shadow-size: 0.8cm;
    box-shadow:-0.3cm -0.3cm var(--shadow-size) 0.1cm var(--status-color) inset;
    transition: box-shadow 2s ease-out;

}


.hide{
    display:none;
}

.pass{
    --status-color: green;
    transition: box-shadow 0s linear;
}
.fail{
    --status-color: red;
    transition: box-shadow 0s linear;
}
.warn{
    --status-color: orange;
    transition: box-shadow 0s linear;
}
.skip{
    --status-color: steelblue;
    transition: box-shadow 0s linear;
}

@media print {
    @page{
        margin: 1.8cm;
        margin-top:1.5cm;
        margin-bottom:1.5cm;
        /* border: 1px solid black; */
        @top-right {
            content: counter(page) " of " counter(pages);
            margin: 30pt 0 10pt 0;
            font-size: 8pt;
        }
    }
    body{
        background-color: initial;
    }
    header{
        display: none;
    }
    main{
        margin:0;
        padding:0;
        border:0;
    }
    ps-tabpanel::part(menu){
        display: none;
        margin:0;
        padding:0;
        border:0;
    }
    ps-panel::part(resizer){
        display: none;
        margin:0;
        padding:0;
        border:0;
    }
    ps-panel[name='book'] nav {
        display: none;
        margin:0;
        padding:0;
        border:0;
    }
    #codeset img {
        position: relative;
        display: inline-block;
        top:0;
        left:0;
        height: 42mm;
        width: 42mm;
        animation-name: none;
        opacity:1;
        page-break-inside: initial;
        border:0;
    }
}
